<?xml encoding="utf-8" ?><!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="rules.css">
      <link rel="stylesheet" href="extended.css">
      <title>矩阵潜袭完整规则书 Netrunner Comprehensive Rules (<!--VERSION_STRING-->v24.03<!--END_VERSION_STRING-->)</title>
      <script src="rules.js" defer></script><script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   </head>
   <body>
      <div id="RulesParent">
         <div id="RulesToc" class="RulesToc">
            <div id="TocHeader">
               <div id="TocTitle">目录</div>
               <div id="TocClose" class="TocClose" onClick="closeToc()">×</div>
            </div>
            <nav>
               <ul class="RulesTocList">
                <!--TOC_ENTRIES-->
                <li><a href="#chpt_one">1 Sample Chapter</a></li>
                <li><a href="#sec_one">1 Sample Section</a></li>
                <!--END_TOC_ENTRIES-->
              </ul>
            </nav>
         </div>
         <div id="TocOpen" class="TocOpen noprint" onClick="openToc()"><b>☰ 目录</b></div>
         <div id="RulesContent" class="RulesContent">
            <div>
               <p class="Title">矩阵潜袭完整规则书 Netrunner Comprehensive Rules</p>
               <p class="SubTitle">Null Signal Games</p>
               <p>本规则文档可作为参考资料使用，不建议直接全文阅读。如果您在查阅此文档后仍有疑问，请通过<a href="mailto:rules@nullsignal.games">电子邮件</a>在线咨询我们。此版本的《完整规则书》自<b><!--EFFECTIVE_DATE-->30 March 2024<!--END_EFFECTIVE_DATE--></b>起生效。</p>
               <p>This rules document is to be used as reference material. It is not intended to be read straight through. If you still have questions after consulting this document, please ask us online via <a href="mailto:rules@nullsignal.games">email</a>. This version of the Comprehensive Rules document is effective <b><!--EFFECTIVE_DATE-->30 March 2024<!--END_EFFECTIVE_DATE--></b>.</p>
               <p>本规则文档的中文版由Eric03742翻译，如译文中有任何错误或您对翻译有任何建议可通过<a href="mailto:eric03742@foxmail.com">电子邮件</a>批评指正。</p>
               <details>
                  <summary class="Clickable"><b>修改摘要（<!--VERSION_STRING-->v24.03<!--END_VERSION_STRING-->）</b></summary>
                  <ul>
                    <!--CHANGELOG_ENTRIES-->
                    <li>Sample changelog entry</li>
                    <!--END_CHANGELOG_ENTRIES-->
                  </ul>
               </details>
               <details>
                  <summary class="Clickable"><b>致谢</b></summary>
                  <ul>
                     <li>矩阵潜袭初版游戏设计：Richard Garfield</li>
                     <li>
                        安卓纪元：矩阵潜袭
                        <ul>
                           <li>游戏开发：Lukas Litzsinger</li>
                           <li>扩展包开发：Lukas Litzsinger、Damon Stone、Michael Boggs</li>
                           <li>规则编写：Adam Baker、Michael Boggs、Erik Dahlman</li>
                           <li>安卓纪元世界观设定：Kevin Wilson 与 Daniel Lovat Clark</li>
                        </ul>
                     </li>
                     <li>
                        Null Signal Games
                        <ul>
                           <li>规则总负责：Jamie Perconti</li>
                           <li>规则协助负责：Ruben P. Pieters、Justin Prentice</li>
                           <li>规则编辑：Jonny Foster</li>
                           <li>协助贡献：Kayli Ammen、Noah Bogart、Pat Chapman、Tim Vaduva、Olive Wesley</li>
                        </ul>
                     </li>
                     <li>Github 仓库贡献：lostgeek、plural、qwitwa</li>
                     <li>
                        中文规则
                        <ul>
                           <li>翻译：Eric03742</li>
                           <li>审核：Eric03742、螺旋的风筝</li>
                           <li>校对：全体《矩阵潜袭》中文玩家（也包括正在浏览这篇文档的你）</li>
                        </ul>
                     </li>
                  </ul>
                  <p>《矩阵潜袭》是 R. Talsorian Games, Inc 的商标。《安卓纪元》是 Fantasy Flight Games 的商标且归属其版权所有。虽然本文档中的规则被设计为与《安卓纪元：矩阵潜袭》中的卡牌兼容，但本文档与 Fantasy Flight Games、R. Talsorian Games 及 Wizards of the Coast 并无任何关联，也未获得上述任何一家公司的认可。</p>
                  <p>Netrunner is a ™ of R. Talsorian Games, Inc. Android is ™ & © Fantasy Flight Games. Although these rules are made to be compatible with cards from Android: Netrunner, they are not in any way associated with or endorsed by Fantasy Flight Games, R. Talsorian Games, or Wizards of the Coast.</p>
               </details>
            </div>
            <div>
              <!--MAIN_CONTENT-->
              <h1 class="Chapter" id="chpt_one"><a class="RuleLink" href="#chpt_one">1. Sample Chapter</a><span class="RuleLinkSymbol material-symbols-outlined">link</span></h1>
              <h2 class="Section" id="sec_one"><a class="RuleLink" href="#sec_one">1.1. Sample Section</a><span class="RuleLinkSymbol material-symbols-outlined">link</span></h2>
              <p class="Snippet">Sample Snippet</p>
              <ol class="Rules">
                <li class="Rule" id="rule_one">
                    <span class="RuleLinkOuterWrapper"><span class="RuleLinkInnerWrapper"><a class="RuleAnchor" href="#rule_one"></a><a class="RuleLink" href="#rule_one">1.1.1.</a><span class="RuleLinkSymbol material-symbols-outlined">link</span></span></span>Sample Rule 1.
                    <ol class="Examples ExamplesRule"></ol>
                </li>
                <li class="Rule" id="rule_two">
                    <span class="RuleLinkOuterWrapper"><span class="RuleLinkInnerWrapper"><a class="RuleAnchor" href="#rule_two"></a><a class="RuleLink" href="#rule_two">1.1.2.</a><span class="RuleLinkSymbol material-symbols-outlined">link</span></span></span>Sample Rule 2.
                    <ol class="Examples ExamplesRule"></ol>
                </li>
                <li class="Rule" id="rule_three">
                    <span class="RuleLinkOuterWrapper"><span class="RuleLinkInnerWrapper"><a class="RuleAnchor" href="#rule_three"></a><a class="RuleLink" href="#rule_three">1.1.3.</a><span class="RuleLinkSymbol material-symbols-outlined">link</span></span></span>Sample Rule 3.
                    <ol class="Examples ExamplesRule"></ol>
                </li>
              </ol>
              <!--END_MAIN_CONTENT-->
            </div>
         </div>
      </div>
   </body>
</html>
